.greettings{
   @include dimensions(100%, fit-content);
   background:url("../assets/img/planet-background.png") right/contain no-repeat , url("../assets/img/background.png") no-repeat center/cover;
   @include indentations(0, 9.375vw 8.59375vw 5.208333333333333vw 8.59375vw);
   &__list{
      @include dimensions(100%, fit-content);
      @include flex(flex-start, flex-start);
      flex-direction: column;
      & > *{
         flex: 1 1 100%;
      }
   }

   &__element{
      @include dimensions(100%, auto);
   }

   &__element:last-child{
      @include indentations(4.6875vw 0 0 0, 0)
   }

   &__items{
      @include dimensions(100%, auto);
      @include flex(space-between, flex-start)
   }

   &__item h1{
      @include font-style(var(--h1-fz), var(--h1-fw), var(--h1-lh));
      color: #fff;
   }

   &__item p{
      @include font-style(var(--base-fz), var(--base-fw), var(--h3-lh));
      color: #fff;
   }

   &__item img{
      @include indentations(-3.125vw 0 0 4.6875vw, 0);
   }

   &__cards{
      @include flex(space-between, center);
      gap: 1.25vw;
   }

   &__card{
      position: relative;
      background: rgba(21, 24, 34, 1);
      @include indentations(0, 1.5625vw 1.5625vw 1.5625vw 2.6041666666666665vw);
      min-height: 23.958333333333332vw;
      border-radius: 8px;
      &:first-child, &:last-child{
         @include indentations(3.125vw 0 0 0, 1.5625vw 1.5625vw 1.5625vw 2.6041666666666665vw);
         filter: blur(3px);
         opacity: 50%;
      }

      & img{
         max-width: 10.416666666666666vw;
         display: block;
         position: absolute;
         bottom: 0;
         right: 0;
         z-index: -1;
      }
   }

   .card__elements li{
      color: #fff;
   }

   .card__elements li:first-child{
      @include font-style(var(--base-fz), var(--base-fw), var(--h3-lh));
   }

   .card__elements li:nth-child(2){
      @include font-style(var(--h3-fz), var(--bold-fw), var(--h3-lh));
   }

   .card__elements li:nth-child(3){
      @include font-style(var(--base-fz), var(--small-fw), 23.78px);
      color: rgba(255, 255, 255, .75);
   }

   .card__elements li:last-child{
      background: var(--btn-color);
      border-radius: 12px;
      @include indentations(1.6666666666666667vw 0 0 0, calc(1.6666666666666667vw/2) 1.6666666666666667vw);
      @include font-style(var(--btn-fz), var(--bold-fw), var(--h3-lh));
      text-align: center;
      max-width: 11.666666666666666vw;
      transition: .5s all ease-in 0s;
   }

   .card__elements li:last-child:hover{
      background: var(--btn-hover);
   }

   .card__navigation{
      position: absolute;
      bottom: -3.125vw;
      width: 100%;
      text-align: center;
      left: 0;

      a{
         @include indentations(0, 0.9375vw);
         color: #fff;
         font-weight: bolder;
         font-size: 0.9375vw;
         border-radius: 50%;
         box-shadow: 0px 4px 21px 0px rgba(0, 0, 0, 0.59);
         transition: all 0.3s ease-in-out 0s;
         &:hover{
            background: #6d6a6a3a;
         }
      }
   }
}