@import url(https://fonts.googleapis.com/css?family=Inter:100,200,300,regular,500,600,700,800,900);
*{
   margin: 0;
   padding: 0;
   list-style: none;
   text-decoration: none;
   box-sizing: border-box; 
   transition: all .5s ease-in-out 0s;

   font-family: 'Inter', sans-serif;
}

html,
body{
   height: 100%;
   width: 100%;
}

body{
   background: rgb(13, 17, 27);
   overflow-x: hidden;
}