:root{
   --h1-fz: 2.9166666666666665vw;
   --h1-fw: 800;
   --h1-lh: 3.1770833333333335vw;

   --h2-fz: 2.1875vw;
   --h2-fw: 700;
   --h2-lh: 2.2395833333333335vw;

   --h3-fz: 1.6666666666666667vw;
   --h3-fw: 700;
   --h3-lh: 2.0833333333333335;

   --base-fz: 0.9375;
   --base-fw: 600;

   --bold-fw: 700;
   --small-fw: 400; 

   --btn-fz: 1.5vw;

   --navbar-fz: 1vw;
   --navbar-fw: var(--base-fw);
   --navbar-lh: 0.9958333333333333vw;

   --base-fcolor: rgba(255, 255, 255, 0.42);

   --btn-color: rgba(29, 154, 109, 1);
   --btn-hover: rgba(86, 83, 255, 1);

   --btn-dw-color: rgba(98, 127, 227, 0.15);
   --btn-dw-hover: rgba(98, 127, 227, 0.7);


   --input-bg: linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(0, 0, 0, 0) 100%),
   linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

   --input-bg-hover: linear-gradient(180deg, rgba(255, 255, 255, 0.28) 0%, rgba(0, 0, 0, 0) 100%),
   linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));

   --navbar-info-btn-backround:
}

